@use '@/styles/helpers' as *;

.masonry {
  --gap: #{to-rem(12)};

  columns: to-rem(230);
  gap: var(--gap);
  padding-block: to-rem(64);

  img {
    break-inside: avoid;
    margin-bottom: var(--gap);
    background-color: var(--color-bg-2);
    cursor: pointer;
  }
}
