@use '@/styles/helpers' as *;

.themeToggler {
  @include square(40);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: currentcolor;
  background-color: transparent;
	border-radius: var(--border-radius-tiny);

  &:focus-visible {
    outline: 2px solid var(--color-text);
  }

  svg {
    @include square(24);
  }
}
